$primary-color: #009DE0;
.item-list {
  background: white;
  display: block;
  padding: 12vh 10vw 10vw 10vw;
}

.no-guides {
  position: fixed;
  left: 25%;
  top: 50%;
  color: lightgrey;
}


.add-icon {
  cursor: pointer;
  position: fixed;
  bottom: 4%;
  right: 4%;
  width: auto;
  height: auto;
  max-width: 3%;
}
//Browser is between 0px and 768px wide
@media screen and (max-width: 768px) {
  .add-icon {
    max-width: 8%;
    bottom: 7%;
    right: 4%;
  }

  .item-list {
    padding-top: 15%;
    margin-bottom: 5%;
  }
  .no-guides {
    top: 40%;
    left: 8%;
  }
}
//Browser is between 0px and 640px wide
@media screen and (max-width: 640px) {
  .add-icon {
    max-width: 10%;
    bottom: 15%;
    right: 5%;
  }
}

