.item-list {
  background: white;
  display: block;
  padding: 5vw 10vw 10vw 10vw;
}

.list-header-title {
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  font-size: 2em;
  padding: 2vw;
  color: #009CE3;
  font-weight: bold;
}

app-faqitem {
  padding: 2vw 0vw 2vw 0vw;
}
.no-faqs {
  position: fixed;
  left: 25%;
  top: 50%;
  color: lightgrey;
}
.add-icon {
  cursor: pointer;
  position: fixed;
  bottom: 4%;
  right: 4%;
  width: auto;
  height: auto;
  max-width: 3%;
}
//Browser is between 0px and 640px wide
@media screen and (max-width: 640px) {
  .add-icon {
    max-width: 10%;
    bottom: 15%;
    right: 5%;
  }
  .list-header-title {
    text-align: center !important;
    font-size: 2.5em;
    color: white;
    background-color: #009CE3;
  }
  .item-list {
    margin-bottom: 5%;
    padding: 1vw !important;
  }
  .list-header-title {
    padding-bottom: 4vh;
  }
  .no-faqs {
    top: 40%;
    left: 8%;
  }
}
