<mat-accordion *ngIf="!shouldHide">
  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <div class="title-line">
          <p class="question">{{question}}</p>
          <div class="deletion" (click)="deleteFAQ()">
            <img class="delete-button" src="../../assets/rubbish-bin.svg">
          </div>
        </div>
      </mat-panel-title>

    </mat-expansion-panel-header>
    <p class="answer">{{answer}}</p>
    <div class="col text-right">
    </div>
  </mat-expansion-panel>
</mat-accordion>
