<mat-accordion>
  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{question}}
      </mat-panel-title>
      <!--mat-panel-description>
        {{id}}
      </mat-panel-description !-->
    </mat-expansion-panel-header>
    <p>{{answer}}</p>
    <button mat-raised-button class="options-button" color="primary" (click)="deleteFAQ()">X</button>
  </mat-expansion-panel>
</mat-accordion>
