mat-panel-title {
  font-size: 1.4em;
}

@media screen and (max-width: 640px) {
  mat-panel-title {
    font-size: 1.1em;
  }
}
mat-expansion-panel-header {
  padding: 2vw;
}

mat-expansion-panel {
  position: relative;
}

.mat-fab.mat-primary, .mat-mini-fab.mat-primary, .mat-raised-button.mat-primary.mat-raised-button.mat-primary {
  background-color: #009CE3;
}
.question {
  margin-top: 2%;
}
.img-wrapper {
  display: grid;
  grid-template-columns: 1fr 0.2fr;
  grid-template-rows: 0.2fr 1fr;
  align-content: center;
  height: 100%;
  max-height: 100%;
  max-width: 100%;
}

.title-line {
  display: grid;
  grid-template-columns: 6fr 1fr;
  grid-column-gap: 10%;
}

.dropdown-menu {
  min-width: 4rem !important;
}

.mat-input-underline mat-form-field-underline {
  width: 0% !important;
  display: none;
}

.btn-outline-primary, .primary.dropdown-toggle {
  color: #009CE3 !important;
  border: none !important;
}

.delete-button {
  padding-top: 2%;
  cursor: pointer;
  max-width: 25%;
  height: auto;
}

.deletion {
  display: flex;
  align-items: center;
  justify-content: center;
}

.options-button {
  cursor: pointer;
  align-self: center;
  justify-self: center;
  display: block;
  width: 100%;
  height: 100%;
  max-height: 100%;
  opacity: 0.6;
}
