  <mat-card class="example-card" *ngIf="!shouldHide">
    <div class="card-layout">
      <img class="guide-icon" src="{{imgurl}}">
      <div class="card-contents">
        <mat-card-header>
          <mat-card-title class="clickable-text" (click)="goToFullView()">{{title}}</mat-card-title>
          </mat-card-header>
        <mat-card-content>
          <p>{{description}}</p>
        </mat-card-content>
      </div>
    </div>
    <div class="img-wrapper">
      <div class="grid-placeholder"></div>
      <div>
        <div ngbDropdown class="d-inline-block">
          <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle></button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button class="dropdown-item">Edit</button>
            <button class="dropdown-item" (click)="deleteGuide()">Delete</button>
            <button class="dropdown-item" (click)="openAddItemDialog()">Add Item</button>
          </div>
        </div>
      </div>
      <div class="grid-placerholder"></div>
      <div class="grid-placerholder"></div>
    </div>
  </mat-card>

