$primary-font: 'Robot', sans-serif;

.guide-card {
}

.clickable-text {
  cursor: pointer;
}
.card-layout {
  display: grid;
  grid-template-columns: 0.2fr 1fr;
}

.example-card {
  width: 100%;
  max-width: 100%;
  display: grid;
  grid-template-columns: 1fr 0.2fr;
}


.img-wrapper {
  display: grid;
  grid-template-columns: 1fr 0.2fr;
  grid-template-rows: 0.2fr 1fr;
  align-content: center;
  height: 100%;
  max-height: 100%;
  max-width: 100%;
}


.guide-icon {
  height: auto;
  width: auto;
  max-width: 8vw;
}

.mat-card-title {
  font-size: 1.8em;
}

.dropdown-menu {
  min-width: 4rem !important;
}

.mat-fab.mat-primary, .mat-mini-fab.mat-primary, .mat-raised-button.mat-primary.mat-raised-button.mat-primary {
  background-color: #009CE3;
}
.mat-input-underline mat-form-field-underline {
  width: 0% !important;
  display: none;
}

.btn-outline-primary, .primary.dropdown-toggle {
  color: #009CE3 !important;
  border: none !important;
}

.options-button {
  cursor: pointer;
  align-self: center;
  justify-self: center;
  display: block;
  width: 100%;
  height: 100%;
  max-height: 100%;
  opacity: 0.6;
}
