$primary-font: 'Robot', sans-serif;

.guide-card {
}

.card-layout {
  display: grid;
  grid-template-columns: 0.2fr 1fr;
}


.guide-icon {
  height: auto;
  width: auto;
  max-width: 8vw;
}

.mat-card-title {
  font-size: 1.8em;
}

.mat-fab.mat-primary, .mat-mini-fab.mat-primary, .mat-raised-button.mat-primary.mat-raised-button.mat-primary {
  background-color: #009CE3;
}

.options-button {
  position: absolute;
  top: 5%;
  right: 1%;
}
