<mat-card class="example-card" *ngIf="!shouldHide" (click)="goToFullView()"
          [@cardAnimator]="animationState"
          (@cardAnimator.done)="resetAnimationState()"
          (swiperight)="startAnimation('slideOutRight')">
  <div class="card-layout">
    <img class="guide-icon" src="{{imgurl}}" (click)="goToFullView()">
    <div class="card-contents">
      <mat-card-header>
        <mat-card-title >
          <p class="clickable-text"  *ngIf="!editable">{{title}}</p>

        </mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <p *ngIf="!editable" class="description">{{description}}</p>
      </mat-card-content>
      <div class="edit-section"*ngIf="editable">
        <mat-form-field class="example-full-width">
          <input #titleInput matInput type="text" placeholder="New Title" value="{{title}}" (keydown.enter)="updateGuide(titleInput.value, descInput.value)">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input #descInput matInput type="text" placeholder="New Description" value="{{description}}" (keydown.enter)="updateGuide(titleInput.value, descInput.value)">
        </mat-form-field>
        <button mat-raised-button  (click)="updateGuide(titleInput.value, descInput.value)">Submit</button>
      </div>
    </div>
  </div>

  <div class="img-wrapper">
    <div class="grid-placeholder"></div>
    <div>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="openDeleteConfirmationDiallog()">
          <mat-icon>delete</mat-icon>
          <span>Delete</span>
        </button>
        <button mat-menu-item (click)="editable=true">
          <mat-icon>build</mat-icon>
          <span>Edit</span>
        </button>
        <button mat-menu-item (click)="goToAddGuideItem()">
          <mat-icon>add</mat-icon>
          <span>Add item</span>
        </button>
      </mat-menu>
    </div>
    <div class="grid-placerholder"></div>
    <div class="grid-placerholder"></div>
  </div>
</mat-card>

