$primary-font: 'Roboto', sans-serif;
$primary-color: #009DE0;

$side-nav-color: #FFFFFF;
$side-nav-text-color: #000000;

html {
  font-family: $primary-font;
}

.card-layout {
  display: grid;
  grid-template-columns: 0.3fr 2fr;
}

mat-card-title {
  font-size: 2em;
}

.mat-form-field-underline {
  position: absolute;
  height: 1px;
  width: 40% !important;
}

.mat-drawer-container {
  background-color: white !important;
}

.mat-drawer-backdrop {
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

mat-sidenav {
  color: $side-nav-text-color;
  position: fixed;
  top: 0;
  left: 0;
  max-width: 12vw;
  background-color: $side-nav-color;
}

mat-sidenav-container {

}


.list-header {
  text-align: center;
  min-width: 15%;
  font-size: 2em;
  padding: 10%;
}

.sidenav-hover {
  z-index: 98;
  background: rgba(0,0,0,0);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 4.5vw !important;
  min-width: 4.5vw !important;
}



app-mobile-nav-icon {
  align-content: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
  max-height: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
}
.sidenav-header img {
  display: block;
  visibility: hidden; /*hidden but reserve the space*/
  width: 100%;
  height: auto;
}

.mobile-bot-nav {
  z-index: 99;
  position: fixed;
  bottom: 0;
  left:0;
  width: 100%;
  height: 10%;
  background-color: $primary-color;
}

//Browser is between 0px and 768px wide
@media screen and (max-width: 768px) {
  mat-sidenav {
    display:none;
  }
  mat-sidenav-content {
    margin-bottom: 10%;
  }
  .mobile-bot-nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .add-icon {
    max-width: 25%;
    bottom: 25%;
    right: 25%;
  }
}
//Browser is wider than 640px
@media screen and (min-width: 640px) {
  .mobile-bot-nav {
    display: none;
  }
  mat-sidenav-content {
    margin-bottom: 0%;
  }
  mat-sidenav {
    display: block;
  }
}

@media screen and (orientation: landscape){

}

@media screen and (orientation: portrait) {

}
